{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}欢迎界面{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/css/user_css.css">
{% endblock %}


{% block page_content %}
<div style="border:5px" >

    <form action="/result" method="post">
        <div id="form2">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-offset-2">
                        <h1>抢座表单</h1>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-7">
                            <h2>日期</h2>
                            <label for="dtp_input1" class="col-md-12"></label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="radio-list">
                            <div class="col-md-7">
                                <span>每天：</span>
                                <label>
                                    <input type="radio" value="1" name="everyday" data-title="是" checked="true" onclick="hide_date_block()" /> 是
                                </label>
                                <label>
                                    <input type="radio" value="0" name="everyday" data-title="否" onclick="show_date_block()" /> 否
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group date form_datetime col-md-5" id="dtp_input1" style="display: none">
                            <div c>
                                <input name="day" class="form-control" size="16" type="text" value="" readonly="readonly">

                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
                    <script>
                        $(".form_datetime").datetimepicker({
                            format: 'yyyy-mm-dd',
                            autoclose: 1,
                            minView: 2,
                        });
                    </script>




                    <div class="radio-list">
                        <div class="row">
                            <h2 class=" col-md-7">时间</h2>
                        </div>

                        <div class="row">
                            <div class="col-md-7">
                                <span>全天：</span>
                                <label>
                                    <input type="radio" value="1" name="allday" data-title="是" checked="true" onclick="hide_date2_block()" /> 是
                                </label>
                                <label>
                                    <input type="radio" value="0" name="allday" data-title="否" onclick="show_date2_block()" /> 否
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="w-100"></div>
                    <div class="row">
                        <div class="form-group col-lg-3" style="display: none" id="begin_time_block">
                            <label for="begintime">开始时间</label>
                            <select class="form-control" id="begintime" name="begintime" placeholder=".col-lg-2">
                                <option>08:00</option>
                                <option>08:30</option>
                                <option>09:00</option>
                                <option>09:30</option>
                                <option>10:00</option>
                                <option>10:30</option>
                                <option>11:00</option>
                                <option>11:30</option>
                                <option>12:00</option>
                                <option>12:30</option>
                                <option>13:00</option>
                                <option>13:30</option>
                                <option>14:00</option>
                                <option>14:30</option>
                                <option>15:00</option>
                                <option>15:30</option>
                                <option>16:00</option>
                                <option>16:30</option>
                                <option>17:00</option>
                                <option>17:30</option>
                                <option>18:00</option>
                                <option>18:30</option>
                                <option>19:00</option>
                                <option>19:30</option>
                                <option>20:00</option>
                                <option>20:30</option>
                                <option>21:00</option>
                                <option>21:30</option>
                                <option>22:00</option>
                            </select>
                        </div>



                        <div class="form-group col-lg-3" style="display: none" id="end_time_block">
                            <label for="endtime">结束时间</label>
                            <select class="form-control" name="endtime" id="endtime" placeholder=".col-lg-2">

                                <option>08:30</option>
                                <option>09:00</option>
                                <option>09:30</option>
                                <option>10:00</option>
                                <option>10:30</option>
                                <option>11:00</option>
                                <option>11:30</option>
                                <option>12:00</option>
                                <option>12:30</option>
                                <option>13:00</option>
                                <option>13:30</option>
                                <option>14:00</option>
                                <option>14:30</option>
                                <option>15:00</option>
                                <option>15:30</option>
                                <option>16:00</option>
                                <option>16:30</option>
                                <option>17:00</option>
                                <option>17:30</option>
                                <option>18:00</option>
                                <option>18:30</option>
                                <option>19:00</option>
                                <option>19:30</option>
                                <option>20:00</option>
                                <option>20:30</option>
                                <option>21:00</option>
                                <option>21:30</option>
                                <option>22:00</option>
                                <option>22:30</option>
                            </select>
                        </div>
                    </div>

                    <hr />


                    <h2>座位</h2>
                    <div class="row">
                        <div class="form-group col-lg-7">
                            <label>场馆</label>
                            <select class="form-control " name="site" onchange="test_site(this)">
                                <option name="XinXi" id="xin">信息学部</option>
                                <option name="ZongTu" id="zong">总馆</option>
                                <option name="GongXue" id="gong">工学部</option>
                                <option name="YiCun" id="yi">医学部</option>
                            </select>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group col-lg-7">
                            <label>区域</label>
                            <select class="form-control" name="seat0" onchange="site_re(this)">
                                <option>3C创客双屏电脑</option>
                                <option>3C创客咖啡区</option>
                                <option>3C创客电子阅读</option>
                                <option>3C创客空间</option>
                                <option>创新学习云桌面</option>
                                <option>创新学习沙发区</option>
                                <option>创新学习苹果区</option>
                                <option>创新学习讨论区</option>
                                <option>东自然科学区</option>
                                <option>中厅沙发区</option>
                                <option>西自然科学区</option>
                                <option>东社会科学区</option>
                                <option>中厅沙发区</option>
                                <option>自主学习区</option>
                                <option>西社会科学区</option>
                                <option>东图书阅览区</option>
                                <option>西图书阅览区</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-7">
                            <label>座位</label>
                            <select class="form-control" name="seat">
                                <option value='001_9183'>001</option>
                                <option value='002_9184'>002</option>
                                <option value='003_9185'>003</option>
                                <option value='004_9186'>004</option>
                                <option value='005_9187'>005</option>
                                <option value='011_9190'>011</option>
                                <option value='012_9191'>012</option>
                                <option value='013_9192'>013</option>
                                <option value='014_54268'>014</option>
                                <option value='015_9194'>015</option>
                                <option value='006_9195'>006</option>
                                <option value='007_9196'>007</option>
                                <option value='008_9197'>008</option>
                                <option value='009_9198'>009</option>
                                <option value='016_9202'>016</option>
                                <option value='017_9203'>017</option>
                                <option value='018_9204'>018</option>
                                <option value='019_9205'>019</option>
                                <option value='020_52676'>020</option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-1">
                            <button type="submit" class="btn btn-default btn-lg btn-block" style="background-color:black;color:aliceblue">提交</button>
                        </div>
                    </div>
                    <hr />
                    </div>
            </div>
</form>


</div>

<div class="col-lg-10">
    <h2 class="col-lg-offset-4">已预定</h2>
    <table class="table table-striped">


        <thead>
            <tr>
                <th>日期</th>
                <th>场馆</th>
                <th>座位</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>取消</th>
            </tr>
        </thead>


    </table>
</div>
<script type="text/javascript" src="../static/js/result.js"></script>

{% endblock %}
