<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>


<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>

<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

<!-- 新 Bootstrap4 核心 CSS 文件 -->
<link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link href="https://cdn.staticfile.org/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<link rel="stylesheet" href="../static/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
<script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../static/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
<script src="../static/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.fr.js"></script>



</head>
<body>

<label for="name">选择场馆</label>
<div>
    <label class="radio-inline">
        <input type="radio" name="optionsRadiosinline" id="o1" value="option1" checked> 信息学部
    </label>
    <label class="radio-inline">
        <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2"> 选项 2
    </label>
</div>

<div id="test">-1</div>

<script src="../static/js/test.js"> </script>



<p id="p1">如果点击“隐藏”按钮，我就会消失。</p>
<button id="hide" type="button">隐藏</button>
<button id="show" type="button">显示</button>


<script type="text/javascript">
$(document).ready(function(){
  $("#hide").click(function(){
  $("p").hide();
  });
  $("#show").click(function(){
  $("p").show();
  });
});
</script>

</body>